@mixin line-clamp($num: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $num;
}

@mixin width-415 {
  @media (max-width: 415px) {
    @content;
  }
}

@mixin width-600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin width-768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin width-1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin width-1400 {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin width-1700 {
  @media (max-width: 1700px) {
    @content;
  }
}