$white: #ffffff;
$black: #000000;
$lightningYellow: #FFC123;
$scorpion: #5E5E5E;
$mountainMeadow: #24D378;
$mineShaft: #2C2C2C;
$anakiwa: #B0D0FF;


%Lato-400 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

%Lato-700 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}