@use 'utils' as *;

.page404 {
  height: 100%;
  display: flex;
  align-items: center;

  &__wrapper {
    margin-bottom: 100px;
  }

  &__title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;

    @include width-415 {
      margin-bottom: 40px;
      font-size: 16px;
    }
  }

  &__sup {
    display: block;
    font-size: 92px;
    color: $mineShaft;
    font-weight: 700;
    background-color: transparent;

    @include width-415 {
      font-size: 62px;
    }
  }

  &__wrap {
    height: 338px;
    margin: 0 20px;
    background-image: url("@img/404.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include width-415 {
      height: 250px;
    }
  }
}
