@use 'utils' as *;

.policy {
  &__wrapper {
    max-width: 500px;
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;

    @include width-768 {
      padding: 20px 0 50px;
    }
  }

  // &__text {
  // }

  &__wrap {
    margin-bottom: 40px;

    p {
      margin-bottom: 20px;
    }
  }

  &__title,
  &__heading {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $mineShaft;
  }

  &__heading {
    font-size: 16px;
    font-weight: 400;
  }

  // &__list {
  // }

  &__item {
    position: relative;
    padding-left: 25px;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 9px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $scorpion;
    }
  }
}
