@use 'vars' as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

//   {
//   @include line-clamp(1);
// }

//   {
//   @include line-clamp();
// }

//   {
//   @include line-clamp(3);
// }

body {
  @extend %Lato-400;
  font-size: 16px;
  line-height: 1.5;
  color: $scorpion;
  background-color: $white;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  height: 44px;
  width: 44px;
  max-width: 100px;

  &__image {
    height: 100%;
    max-height: 32px;
    object-fit: contain;
  }
}

.burger {
  &__line {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 32px;
    height: 1.4px;
    background-color: #5e5e5e;
    transition: transform 0.3s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 32px;
      height: 1.4px;
      background-color: #5e5e5e;
      transition: transform 0.3s ease;
    }

    &::before {
      transform: translateY(-10px);
    }

    &::after {
      transform: translateY(10px);
    }
  }
}

.header__link,
.modal__title {
  &--green {
    font-weight: 700;
    color: $mountainMeadow;

    svg {
      width: 26px;
      height: 16px;
      margin-right: 8px;
      fill: $mountainMeadow;
    }
  }
}
